PORT=3004
DATABASE_URL="postgresql://postgres:123@localhost:5435/notification_db?schema=public"
RABBITMQ_URL="amqp://guest:guest@localhost:5672"

# SMTP Configuration
SMTP_HOST="smtp.ethereal.email"
SMTP_PORT=587
SMTP_USER=""
SMTP_PASS=""
EMAIL_FROM="NestBooking <noreply@nestbooking.com>"
